/* Reset all elements margin + padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Recommended so padding doesn’t mess with width/height */
}

@font-face {
  font-family: 'Arno Pro Italic Caption';
  src: url('/fonts/ArnoProItalicCaption.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  /* Make sure header fills the viewport */
}

body {
  background: black;
  color: white;
  font-family: Arial;

  /*iOS*/
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*iOS*/
html {
  touch-action: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

p {
  text-align: center;
  color: gray;
  font-size: 1.125rem;
}

.overlay-text {
  position: absolute;
  transform: translate(0%, 180%);
  align-items: center;
  justify-content: center;
  color: white;
  text-align: left;
  font-size: clamp(0.8rem, 4vw, 1.2rem);
  pointer-events: none;
  white-space: nowrap;
  line-height: 1.4;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 5vw;
  box-sizing: border-box;
}

.model-wrapper {
  flex: 1 1 auto;
  margin-top: -4rem;
  margin-bottom: 3rem;
  padding-left: 25vw;
  padding-right: 25vw;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}